!/Library/AppleScripts
!/Library/KeyBindings
*.DS_Store
*.elc
*.orig
*.pyc
*.rej
/.CFUserTextEncoding
/.Trash
/.account
/.bash_history
/.bundle
/.cache
/.certs
/.config
/.cocoapods
/.gradle
/.vscode
/.zsh_history
/.swiftpm
/.konan
/.lesshst
/.ssh
/.npm
/.nvm
/.zcompdump
/Applications
/Desktop
/Documents
/Downloads
/Library/*
/Music
/Movies
/Pictures
/Public
/code
