!/Library/AppleScripts
!/Library/KeyBindings
*.DS_Store
*.elc
*.orig
*.pyc
*.rej
/.CFUserTextEncoding
/.Trash
/.account
/.bash_history
/.bundle
/.cache
/.certs
/.config
/.cocoapods
/.gradle
/.vscode
/.zsh_history
/.swiftpm
/.konan
/.lesshst
/.ssh
/.npm
/.nvm
/.zcompdump
/.viminfo
/.pnpm-state
Applications 
Desktop 
Documents 
Downloads
Library
Music
Movies
Pictures
Public
code

.android/
.aws/
.cargo/
.cups/
.dlv/
.docker/
.dydx-orb/
.dydxprotocol/
.gnupg/
.hubl/
.minid/
.netrc
.node_repl_history
.npmrc
.pnpm-store/
.profile
.redhat/
.redis-insight/
.rustup/
.vim/
.zcompdump.*
.zshenv
IdeaProjects/
go/
keys/
